@import 'tailwindcss';

html {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inria-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.loading-spinner {
  --size: 1.5rem;
  mask-image: url('/LoadingSpinner.svg');
  width: var(--size);
  height: var(--size);
  background-color: currentColor;
  mask-size: 100%;
  mask-position: -50%;
}

.loading-spinner-sm {
  --size: 1rem;
}
